.container {
  transform: translateY(-25px);
  width: 950px;
  height: auto;
  margin: 0 auto;
}
.batch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.sub,
.main {
  height: 632px;
}
.sub {
  width: 66.7%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 4px;
}
.sub img {
  max-height: 316px;
  object-fit: contain;
}
.main {
  width: 33.3%;
}
.batch .main:nth-child(3n + 1) {
  margin-right: 4px;
}
.batch .main:nth-child(n + 2) {
  margin-left: 4px;
}
