.footer {
  width: 100%;
  margin-top: 30px;
  color: var(--grey-text-color);
}
.footer ul {
  padding: 0 150px;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.footer ul li {
  cursor: pointer;
  padding-bottom: 8px;
  padding-right: 2px;
}
.footer ul li:hover {
  text-decoration: 1px solid underline;
}
.footer p {
  text-align: center;
  font-size: var(--medium-text);
}
.footer .footer-flex {
  padding: 0 0;
  font-size: 11px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}
